              {{!-- NAVBAR --}}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">
                <a class="navbar-brand" href="/">Tech Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" id="logout-link">Log Out</a>
                    </li>
                  </ul>
                </div>
              </div>
        </nav>
{{!-- END OF NAVBAR --}}
<div style="margin-top: 2%;">
  <h2>Home</h2>
</div>

<div class="menu-container" style="margin-top: 3%; margin-left: 3%; margin-right: 3%">
<div class="posts">
  {{#each posts}}
  <article class="card" style="margin-bottom: 3%;">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a style="text-decoration: none; color: inherit;" href="/post/{{id}}">{{title}}</a>
      </h2>
      <div>
        Posted by {{user.username}} on {{format_date date_created}}
      </div>
    </div>
    <div class="card-body">
      {{content}}
    </div>
  </article>
  {{/each}}
</div>
</div>