<div class="post">
  <article class="card" style="margin-top: 3%;">
    <div class="card-header flex-row justify-space-between">
      <h2>{{title}}</h2>
      <div>
        Posted by {{user.username}} on {{format_date date_created}}
      </div>
    </div>
    <div class="card-body">
      {{content}}
    </div>
  </article>

  {{#if post.Comments}}
    <section class="card" style="margin-top: 2%;">
      <div class="card-header">
        <h3>Comments</h3>
      </div>

      <div class="card-body">
        {{#each post.Comments}}
          <div>
            <p>
              {{body}}
            </p>
            <p>
              &mdash; {{User.username}}, {{format_date createdAt}}
            </p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}



<script src="/js/comment.js"></script>

